composer.lock
Tests/cache
Tests/log
Tests/Functional/cache
Tests/Functional/log
vendor
.php-cs-fixer.cache
clover.xml
.vscode
.phpunit.result.cache
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/phpunit.xml
/bin