language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php:
      - 5.6
      - hhvm
  fast_finish: true

install:
  - travis_retry composer install --no-interaction --prefer-source

script: phpunit --coverage-clover=clover.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

notifications:
  email: helios.ag@gmail.com
