<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
>
<!--  <coverage>-->
<!--    <report>-->
<!--      <clover outputFile="./clover.xml"/>-->
<!--    </report>-->
<!--  </coverage>-->
  <php>
    <server name="KERNEL_DIR" value="./tests/Functional"/>
    <ini name="error_reporting" value="-1"/>
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="dev"/>
    <env name="APP_SECRET" value=""/>
    <!-- ###- symfony/framework-bundle ### -->
  </php>
  <testsuites>
    <testsuite name="FMElfinderBundle test suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- and this is where your report will be written -->
  </logging>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./src/Controller</directory>
      <directory>./src/Resources</directory>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
