<!DOCTYPE html>
<html>
<head>
        {% stylesheets output='assetic/css/compiled/fmelfinder/main.css'
        'bundles/fmelfinder/css/*' filter='cssrewrite,?uglifycss' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
</head>
<body>
        {% javascripts output='bundles/fmelfinder/js/main.js' filter='?uglifyjs2'
            '@FMElfinderBundle/Resources/public/js/jquery/jquery-1.8.0.min.js'
            '@FMElfinderBundle/Resources/public/js/jquery/jquery-ui-1.8.23.custom.min.js'
            '@FMElfinderBundle/Resources/public/js/elfinder.min.js'
            '@FMElfinderBundle/Resources/public/js/i18n/*'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var $f = $('#elfinder').elfinder({
            url : '{{path('ef_connect')}}',
            lang : '{{locale}}'
        });

        {% if fullscreen %}
        var $window = $(window);
        $window.resize(function(){
            var $win_height = $window.height();
            if( $f.height() != $win_height ){
                $f.height($win_height).resize();
            }
        });
        {% endif %}
    });
</script>
<div id="elfinder"></div>
</body>
</html>
